.navbar {
  display: flex;
  flex: 1;
  width: 100%;
  height: 10vh;
  align-items: center;
}

.bottombar {
  display: flex;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  column-gap: 1vw;
}

.bottombar_largeText {
  color: #c8c8c8;
  font-size: 1.5rem;
  padding-left: 1vw;
}

.bottombar_smallText {
  font-size: 1rem;
  color: #c8c8c8;
}

.navbar_links {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 1vw;
  margin-right: 15vw;
}

.navbar_logo {
  max-height: 200px; /* Keeps it nicely scaled within navbar */
  max-width: 400px; /* Set a reasonable limit */
  height: auto; /* Maintain aspect ratio */
  width: auto;
  object-fit: contain; /* Ensures image stays clean */
}

.divider {
  width: 0.05vw;
  height: 8vh;
  background-color: #ccc;
  border-radius: 1vw;
}

.small_icon {
  width: 1vw;
  height: 1vh;
}

.navlink {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #9c9c9c;
  font-weight: bold;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navlink:hover {
  color: #8080ff;
  transform: scale(1.5);
}

.bottombar_image {
  max-width: 50px;
  max-height: 50px;
}

@media (max-width: 768px) {
  .navbar_logo {
    max-height: 150px;
    max-width: 300px;
    justify-self: center;
    align-self: center;
  }

  .navlink {
    padding: 0rem;
    font-size: 1.1rem;
  }

  .navbar {
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .navbar_links {
    width: 100%;
    column-gap: 4vw;
    text-align: center;
  }

  .bottombar {
    width: 100%;
    column-gap: 3vw;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 0.5vw;
    height: 10vh;
    background-color: #ccc;
    border-radius: 1vw;
  }

  .bottombar_largeText {
    color: #c8c8c8;
    font-size: 0.65rem;
    padding-left: 3vw;
  }

  .bottombar_smallText {
    font-size: 0.5rem;
    color: #c8c8c8;
  }

  .bottombar_image {
    max-width: 25px;
    max-height: 25px;
  }
}
