.banner {
  width: 100%;
  height: 25vh; /* Adjust height as needed */
  background-image: url("/public/assets/banner.png"); /* If in public folder */
  background-size: cover; /* Stretch to fill */
  background-position: center; /* Centered image */
  background-repeat: no-repeat; /* Don't repeat */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 0.7vh;
  opacity: 0.85;
}

.banner2 {
  width: 100%;
  background-image: url("/public/assets/crackedbanner.png"); /* If in public folder */
  background-size: cover; /* Stretch to fill */
  background-position: center; /* Centered image */
  background-repeat: no-repeat; /* Don't repeat */
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 1vh;
}

.welcome_column {
  display: flex;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.welcome_column_image_container {
  display: flex;
  max-height: 550px; /* Keeps it nicely scaled within navbar */
  max-width: 600px; /* Set a reasonable limit */
  height: auto; /* Maintain aspect ratio */
  width: auto;
  object-fit: contain; /* Ensures image stays clean */
  margin: 1vw;
  margin-left: 1.5vw;
  border: 0.2vw solid gray;
}

.welcome_column_image {
  display: flex;
  max-height: 550px; /* Keeps it nicely scaled within navbar */
  max-width: 600px; /* Set a reasonable limit */
}

.welcome_column_content_mobile {
  display: none;
}

.welcome_column_content {
  display: flex;
  width: 60%;
  height: 20vh;
  padding: 1vh;
  flex-direction: column;
  align-items: center;
}

.why_column_content {
  flex-direction: row;
  display: flex;
  column-gap: 3vw;
  margin-bottom: 5vh;
}

.mobileHide {
}

.why_column_header {
  font-size: 3rem;
  color: black;
  margin-bottom: 4vh;
  display: flex;
}

.banner3 {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  flex-direction: column;
  padding: 1vh;
}

.banner_text {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 600;
}

.why_column_header h1 {
  color: orange;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
}

.welcome_blurb h3 {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 500;
  color: #666060;
}

.repairBtn {
  padding: 12px 24px;
  background-color: #0770da;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.imageBadge {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.imageBadge_Image {
  max-width: 250px;
  max-height: 200px;
}

.imageBadge:hover {
  transform: scale(1.1); /* Image container scales first */
}

.imageBadge_Text {
  margin-top: 1vh;
  font-weight: 600;
  font-size: 1.2rem;
  color: #262626;
  transition: transform 0.4s ease;
  transform: scale(1); /* Starting scale */
  display: flex;
  text-align: center;
  max-width: 40vw;
  justify-content: center;
}

.imageBadge:hover .imageBadge_Text {
  transform: scale(1.1); /* Text scales after image */
  transition-delay: 0.08s; /* Waits 300ms after image */
}

.what_column_content {
  margin-bottom: 3vh;
}

@media (max-width: 768px) {
  .banner {
    width: 130vw;
    height: 30vh; /* Adjust height as needed */
  }

  .banner3 {
    width: 130vw;
  }

  .banner_text {
    font-size: 1.2rem;
  }

  .banner2 {
    width: 130vw;
  }

  .welcome_column_image {
    max-height: 250px; /* Keeps it nicely scaled within navbar */
    max-width: 250px; /* Set a reasonable limit */
  }

  .welcome_column_content_mobile {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin-left: 50%;
    margin-right: 25%;
    margin-top: 3vh;
  }

  .welcome_column_content {
    width: 100vw;
    align-items: center;
    padding: 1vh;
  }

  .repairBtn {
    display: none;
  }

  .repairBtn_Mobile {
    padding: 12px 24px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #0770da;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .mobileHide {
    display: none;
  }

  .why_column_header {
    font-size: 2rem;
    color: black;
    margin-bottom: 2vh;
  }

  .why_column_content {
    margin-top: 2vh;
    flex-direction: row;
    display: flex;
    column-gap: 3vw;
    justify-content: center;
  }

  .imageBadge_Image {
    max-width: 65px;
    max-height: 65px;
  }

  .imageBadge_Text {
    margin-top: 1vh;
    font-size: 0.45rem;
    justify-content: center;
    max-width: 40vw;
  }

  .welcome_column_header {
    font-size: 1.5rem;
    display: flex;
    width: 25vw;
    text-align: center;
    padding-left: 10vw;
  }

  .welcome_blurb h3 {
    display: flex;
    width: 100%;
    font-size: 1rem;
  }

  .what_column_content {
    column-gap: 10vw;
  }
}
